[class^="glyphicon-"],
[class*=" glyphicon-"] {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 16px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons420.png");
  background-position: 16px 16px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/active states of certain elements */

.glyphicon-white,
.nav-pills > .active > a > [class^="glyphicon-"],
.nav-pills > .active > a > [class*=" glyphicon-"],
.nav-list > .active > a > [class^="glyphicon-"],
.nav-list > .active > a > [class*=" glyphicon-"],
.navbar-inverse .nav > .active > a > [class^="glyphicon-"],
.navbar-inverse .nav > .active > a > [class*=" glyphicon-"],
.dropdown-menu > li > a:hover > [class^="glyphicon-"],
.dropdown-menu > li > a:hover > [class*=" glyphicon-"],
.dropdown-menu > .active > a > [class^="glyphicon-"],
.dropdown-menu > .active > a > [class*=" glyphicon-"],
.dropdown-submenu:hover > a > [class^="glyphicon-"],
.dropdown-submenu:hover > a > [class*=" glyphicon-"] {
  background-image: url("../img/glyphicons-white420.png");
}

.glyphicon-glass {
  background-position: 1px 0px;
}
.glyphicon-leaf {
  background-position: -23px 0px;
}
.glyphicon-dog {
  background-position: -47px 0px;
}
.glyphicon-user {
  background-position: -71px 0px;
}
.glyphicon-girl {
  background-position: -95px 0px;
}
.glyphicon-car {
  background-position: -119px 0px;
}
.glyphicon-user_add {
  background-position: -143px 0px;
}
.glyphicon-user_remove {
  background-position: -167px 0px;
}
.glyphicon-film {
  background-position: -191px 0px;
}
.glyphicon-magic {
  background-position: -215px 0px;
}
.glyphicon-envelope {
  background-position: 1px -24px;
}
.glyphicon-camera {
  background-position: -23px -24px;
}
.glyphicon-heart {
  background-position: -47px -24px;
}
.glyphicon-beach_umbrella {
  background-position: -71px -24px;
}
.glyphicon-train {
  background-position: -95px -24px;
}
.glyphicon-print {
  background-position: -119px -24px;
}
.glyphicon-bin {
  background-position: -143px -24px;
}
.glyphicon-music {
  background-position: -167px -24px;
}
.glyphicon-note {
  background-position: -191px -24px;
}
.glyphicon-heart_empty {
  background-position: -215px -24px;
}
.glyphicon-home {
  background-position: 1px -48px;
}
.glyphicon-snowflake {
  background-position: -23px -48px;
}
.glyphicon-fire {
  background-position: -47px -48px;
}
.glyphicon-magnet {
  background-position: -71px -48px;
}
.glyphicon-parents {
  background-position: -95px -48px;
}
.glyphicon-binoculars {
  background-position: -119px -48px;
}
.glyphicon-road {
  background-position: -143px -48px;
}
.glyphicon-search {
  background-position: -167px -48px;
}
.glyphicon-cars {
  background-position: -191px -48px;
}
.glyphicon-notes_2 {
  background-position: -215px -48px;
}
.glyphicon-pencil {
  background-position: 1px -72px;
}
.glyphicon-bus {
  background-position: -23px -72px;
}
.glyphicon-wifi_alt {
  background-position: -47px -72px;
}
.glyphicon-luggage {
  background-position: -71px -72px;
}
.glyphicon-old_man {
  background-position: -95px -72px;
}
.glyphicon-woman {
  background-position: -119px -72px;
}
.glyphicon-file {
  background-position: -143px -72px;
}
.glyphicon-coins {
  background-position: -167px -72px;
}
.glyphicon-airplane {
  background-position: -191px -72px;
}
.glyphicon-notes {
  background-position: -215px -72px;
}
.glyphicon-stats {
  background-position: 1px -96px;
}
.glyphicon-charts {
  background-position: -23px -96px;
}
.glyphicon-pie_chart {
  background-position: -47px -96px;
}
.glyphicon-group {
  background-position: -71px -96px;
}
.glyphicon-keys {
  background-position: -95px -96px;
}
.glyphicon-calendar {
  background-position: -119px -96px;
}
.glyphicon-router {
  background-position: -143px -96px;
}
.glyphicon-camera_small {
  background-position: -167px -96px;
}
.glyphicon-dislikes {
  background-position: -191px -96px;
}
.glyphicon-star {
  background-position: -215px -96px;
}
.glyphicon-link {
  background-position: 1px -120px;
}
.glyphicon-eye_open {
  background-position: -23px -120px;
}
.glyphicon-eye_close {
  background-position: -47px -120px;
}
.glyphicon-alarm {
  background-position: -71px -120px;
}
.glyphicon-clock {
  background-position: -95px -120px;
}
.glyphicon-stopwatch {
  background-position: -119px -120px;
}
.glyphicon-projector {
  background-position: -143px -120px;
}
.glyphicon-history {
  background-position: -167px -120px;
}
.glyphicon-truck {
  background-position: -191px -120px;
}
.glyphicon-cargo {
  background-position: -215px -120px;
}
.glyphicon-compass {
  background-position: 1px -144px;
}
.glyphicon-keynote {
  background-position: -23px -144px;
}
.glyphicon-paperclip {
  background-position: -47px -144px;
}
.glyphicon-power {
  background-position: -71px -144px;
}
.glyphicon-lightbulb {
  background-position: -95px -144px;
}
.glyphicon-tag {
  background-position: -119px -144px;
}
.glyphicon-tags {
  background-position: -143px -144px;
}
.glyphicon-cleaning {
  background-position: -167px -144px;
}
.glyphicon-ruller {
  background-position: -191px -144px;
}
.glyphicon-gift {
  background-position: -215px -144px;
}
.glyphicon-umbrella {
  background-position: 1px -168px;
}
.glyphicon-book {
  background-position: -23px -168px;
}
.glyphicon-bookmark {
  background-position: -47px -168px;
}
.glyphicon-wifi {
  background-position: -71px -168px;
}
.glyphicon-cup {
  background-position: -95px -168px;
}
.glyphicon-stroller {
  background-position: -119px -168px;
}
.glyphicon-headphones {
  background-position: -143px -168px;
}
.glyphicon-headset {
  background-position: -167px -168px;
}
.glyphicon-warning_sign {
  background-position: -191px -168px;
}
.glyphicon-signal {
  background-position: -215px -168px;
}
.glyphicon-retweet {
  background-position: 1px -192px;
}
.glyphicon-refresh {
  background-position: -23px -192px;
}
.glyphicon-roundabout {
  background-position: -47px -192px;
}
.glyphicon-random {
  background-position: -71px -192px;
}
.glyphicon-heat {
  background-position: -95px -192px;
}
.glyphicon-repeat {
  background-position: -119px -192px;
}
.glyphicon-display {
  background-position: -143px -192px;
}
.glyphicon-log_book {
  background-position: -167px -192px;
}
.glyphicon-adress_book {
  background-position: -191px -192px;
}
.glyphicon-building {
  background-position: -215px -192px;
}
.glyphicon-eyedropper {
  background-position: 1px -216px;
}
.glyphicon-adjust {
  background-position: -23px -216px;
}
.glyphicon-tint {
  background-position: -47px -216px;
}
.glyphicon-crop {
  background-position: -71px -216px;
}
.glyphicon-vector_path_square {
  background-position: -95px -216px;
}
.glyphicon-vector_path_circle {
  background-position: -119px -216px;
}
.glyphicon-vector_path_polygon {
  background-position: -143px -216px;
}
.glyphicon-vector_path_line {
  background-position: -167px -216px;
}
.glyphicon-vector_path_curve {
  background-position: -191px -216px;
}
.glyphicon-vector_path_all {
  background-position: -215px -216px;
}
.glyphicon-font {
  background-position: 1px -240px;
}
.glyphicon-italic {
  background-position: -23px -240px;
}
.glyphicon-bold {
  background-position: -47px -240px;
}
.glyphicon-text_underline {
  background-position: -71px -240px;
}
.glyphicon-text_strike {
  background-position: -95px -240px;
}
.glyphicon-text_height {
  background-position: -119px -240px;
}
.glyphicon-text_width {
  background-position: -143px -240px;
}
.glyphicon-text_resize {
  background-position: -167px -240px;
}
.glyphicon-left_indent {
  background-position: -191px -240px;
}
.glyphicon-right_indent {
  background-position: -215px -240px;
}
.glyphicon-align_left {
  background-position: 1px -264px;
}
.glyphicon-align_center {
  background-position: -23px -264px;
}
.glyphicon-align_right {
  background-position: -47px -264px;
}
.glyphicon-justify {
  background-position: -71px -264px;
}
.glyphicon-list {
  background-position: -95px -264px;
}
.glyphicon-text_smaller {
  background-position: -119px -264px;
}
.glyphicon-text_bigger {
  background-position: -143px -264px;
}
.glyphicon-embed {
  background-position: -167px -264px;
}
.glyphicon-embed_close {
  background-position: -191px -264px;
}
.glyphicon-table {
  background-position: -215px -264px;
}
.glyphicon-message_full {
  background-position: 1px -288px;
}
.glyphicon-message_empty {
  background-position: -23px -288px;
}
.glyphicon-message_in {
  background-position: -47px -288px;
}
.glyphicon-message_out {
  background-position: -71px -288px;
}
.glyphicon-message_plus {
  background-position: -95px -288px;
}
.glyphicon-message_minus {
  background-position: -119px -288px;
}
.glyphicon-message_ban {
  background-position: -143px -288px;
}
.glyphicon-message_flag {
  background-position: -167px -288px;
}
.glyphicon-message_lock {
  background-position: -191px -288px;
}
.glyphicon-message_new {
  background-position: -215px -288px;
}
.glyphicon-inbox {
  background-position: 1px -312px;
}
.glyphicon-inbox_plus {
  background-position: -23px -312px;
}
.glyphicon-inbox_minus {
  background-position: -47px -312px;
}
.glyphicon-inbox_lock {
  background-position: -71px -312px;
}
.glyphicon-inbox_in {
  background-position: -95px -312px;
}
.glyphicon-inbox_out {
  background-position: -119px -312px;
}
.glyphicon-cogwheel {
  background-position: -143px -312px;
}
.glyphicon-cogwheels {
  background-position: -167px -312px;
}
.glyphicon-picture {
  background-position: -191px -312px;
}
.glyphicon-adjust_alt {
  background-position: -215px -312px;
}
.glyphicon-database_lock {
  background-position: 1px -336px;
}
.glyphicon-database_plus {
  background-position: -23px -336px;
}
.glyphicon-database_minus {
  background-position: -47px -336px;
}
.glyphicon-database_ban {
  background-position: -71px -336px;
}
.glyphicon-folder_open {
  background-position: -95px -336px;
}
.glyphicon-folder_plus {
  background-position: -119px -336px;
}
.glyphicon-folder_minus {
  background-position: -143px -336px;
}
.glyphicon-folder_lock {
  background-position: -167px -336px;
}
.glyphicon-folder_flag {
  background-position: -191px -336px;
}
.glyphicon-folder_new {
  background-position: -215px -336px;
}
.glyphicon-edit {
  background-position: 1px -360px;
}
.glyphicon-new_window {
  background-position: -23px -360px;
}
.glyphicon-check {
  background-position: -47px -360px;
}
.glyphicon-unchecked {
  background-position: -71px -360px;
}
.glyphicon-more_windows {
  background-position: -95px -360px;
}
.glyphicon-show_big_thumbnails {
  background-position: -119px -360px;
}
.glyphicon-show_thumbnails {
  background-position: -143px -360px;
}
.glyphicon-show_thumbnails_with_lines {
  background-position: -167px -360px;
}
.glyphicon-show_lines {
  background-position: -191px -360px;
}
.glyphicon-playlist {
  background-position: -215px -360px;
}
.glyphicon-imac {
  background-position: 1px -384px;
}
.glyphicon-macbook {
  background-position: -23px -384px;
}
.glyphicon-ipad {
  background-position: -47px -384px;
}
.glyphicon-iphone {
  background-position: -71px -384px;
}
.glyphicon-iphone_transfer {
  background-position: -95px -384px;
}
.glyphicon-iphone_exchange {
  background-position: -119px -384px;
}
.glyphicon-ipod {
  background-position: -143px -384px;
}
.glyphicon-ipod_shuffle {
  background-position: -167px -384px;
}
.glyphicon-ear_plugs {
  background-position: -191px -384px;
}
.glyphicon-phone {
  background-position: -215px -384px;
}
.glyphicon-step_backward {
  background-position: 1px -408px;
}
.glyphicon-fast_backward {
  background-position: -23px -408px;
}
.glyphicon-rewind {
  background-position: -47px -408px;
}
.glyphicon-play {
  background-position: -71px -408px;
}
.glyphicon-pause {
  background-position: -95px -408px;
}
.glyphicon-stop {
  background-position: -119px -408px;
}
.glyphicon-forward {
  background-position: -143px -408px;
}
.glyphicon-fast_forward {
  background-position: -167px -408px;
}
.glyphicon-step_forward {
  background-position: -191px -408px;
}
.glyphicon-eject {
  background-position: -215px -408px;
}
.glyphicon-facetime_video {
  background-position: 1px -432px;
}
.glyphicon-download_alt {
  background-position: -23px -432px;
}
.glyphicon-mute {
  background-position: -47px -432px;
}
.glyphicon-volume_down {
  background-position: -71px -432px;
}
.glyphicon-volume_up {
  background-position: -95px -432px;
}
.glyphicon-screenshot {
  background-position: -119px -432px;
}
.glyphicon-move {
  background-position: -143px -432px;
}
.glyphicon-more {
  background-position: -167px -432px;
}
.glyphicon-brightness_reduce {
  background-position: -191px -432px;
}
.glyphicon-brightness_increase {
  background-position: -215px -432px;
}
.glyphicon-circle_plus {
  background-position: 1px -456px;
}
.glyphicon-circle_minus {
  background-position: -23px -456px;
}
.glyphicon-circle_remove {
  background-position: -47px -456px;
}
.glyphicon-circle_ok {
  background-position: -71px -456px;
}
.glyphicon-circle_question_mark {
  background-position: -95px -456px;
}
.glyphicon-circle_info {
  background-position: -119px -456px;
}
.glyphicon-circle_exclamation_mark {
  background-position: -143px -456px;
}
.glyphicon-remove {
  background-position: -167px -456px;
}
.glyphicon-ok {
  background-position: -191px -456px;
}
.glyphicon-ban {
  background-position: -215px -456px;
}
.glyphicon-download {
  background-position: 1px -480px;
}
.glyphicon-upload {
  background-position: -23px -480px;
}
.glyphicon-shopping_cart {
  background-position: -47px -480px;
}
.glyphicon-lock {
  background-position: -71px -480px;
}
.glyphicon-unlock {
  background-position: -95px -480px;
}
.glyphicon-electricity {
  background-position: -119px -480px;
}
.glyphicon-ok_2 {
  background-position: -143px -480px;
}
.glyphicon-remove_2 {
  background-position: -167px -480px;
}
.glyphicon-cart_out {
  background-position: -191px -480px;
}
.glyphicon-cart_in {
  background-position: -215px -480px;
}
.glyphicon-left_arrow {
  background-position: 1px -504px;
}
.glyphicon-right_arrow {
  background-position: -23px -504px;
}
.glyphicon-down_arrow {
  background-position: -47px -504px;
}
.glyphicon-up_arrow {
  background-position: -71px -504px;
}
.glyphicon-resize_small {
  background-position: -95px -504px;
}
.glyphicon-resize_full {
  background-position: -119px -504px;
}
.glyphicon-circle_arrow_left {
  background-position: -143px -504px;
}
.glyphicon-circle_arrow_right {
  background-position: -167px -504px;
}
.glyphicon-circle_arrow_top {
  background-position: -191px -504px;
}
.glyphicon-circle_arrow_down {
  background-position: -215px -504px;
}
.glyphicon-play_button {
  background-position: 1px -528px;
}
.glyphicon-unshare {
  background-position: -23px -528px;
}
.glyphicon-share {
  background-position: -47px -528px;
}
.glyphicon-chevron-right {
  background-position: -71px -528px;
}
.glyphicon-chevron-left {
  background-position: -95px -528px;
}
.glyphicon-bluetooth {
  background-position: -119px -528px;
}
.glyphicon-euro {
  background-position: -143px -528px;
}
.glyphicon-usd {
  background-position: -167px -528px;
}
.glyphicon-gbp {
  background-position: -191px -528px;
}
.glyphicon-retweet_2 {
  background-position: -215px -528px;
}
.glyphicon-moon {
  background-position: 1px -552px;
}
.glyphicon-sun {
  background-position: -23px -552px;
}
.glyphicon-cloud {
  background-position: -47px -552px;
}
.glyphicon-direction {
  background-position: -71px -552px;
}
.glyphicon-brush {
  background-position: -95px -552px;
}
.glyphicon-pen {
  background-position: -119px -552px;
}
.glyphicon-zoom_in {
  background-position: -143px -552px;
}
.glyphicon-zoom_out {
  background-position: -167px -552px;
}
.glyphicon-pin {
  background-position: -191px -552px;
}
.glyphicon-albums {
  background-position: -215px -552px;
}
.glyphicon-rotation_lock {
  background-position: 1px -576px;
}
.glyphicon-flash {
  background-position: -23px -576px;
}
.glyphicon-google_maps {
  background-position: -47px -576px;
}
.glyphicon-anchor {
  background-position: -71px -576px;
}
.glyphicon-conversation {
  background-position: -95px -576px;
}
.glyphicon-chat {
  background-position: -119px -576px;
}
.glyphicon-male {
  background-position: -143px -576px;
}
.glyphicon-female {
  background-position: -167px -576px;
}
.glyphicon-asterisk {
  background-position: -191px -576px;
}
.glyphicon-divide {
  background-position: -215px -576px;
}
.glyphicon-snorkel_diving {
  background-position: 1px -600px;
}
.glyphicon-scuba_diving {
  background-position: -23px -600px;
}
.glyphicon-oxygen_bottle {
  background-position: -47px -600px;
}
.glyphicon-fins {
  background-position: -71px -600px;
}
.glyphicon-fishes {
  background-position: -95px -600px;
}
.glyphicon-boat {
  background-position: -119px -600px;
}
.glyphicon-delete {
  background-position: -143px -600px;
}
.glyphicon-sheriffs_star {
  background-position: -167px -600px;
}
.glyphicon-qrcode {
  background-position: -191px -600px;
}
.glyphicon-barcode {
  background-position: -215px -600px;
}
.glyphicon-pool {
  background-position: 1px -624px;
}
.glyphicon-buoy {
  background-position: -23px -624px;
}
.glyphicon-spade {
  background-position: -47px -624px;
}
.glyphicon-bank {
  background-position: -71px -624px;
}
.glyphicon-vcard {
  background-position: -95px -624px;
}
.glyphicon-electrical_plug {
  background-position: -119px -624px;
}
.glyphicon-flag {
  background-position: -143px -624px;
}
.glyphicon-credit_card {
  background-position: -167px -624px;
}
.glyphicon-keyboard_wireless {
  background-position: -191px -624px;
}
.glyphicon-keyboard_wired {
  background-position: -215px -624px;
}
.glyphicon-shield {
  background-position: 1px -648px;
}
.glyphicon-ring {
  background-position: -23px -648px;
}
.glyphicon-cake {
  background-position: -47px -648px;
}
.glyphicon-drink {
  background-position: -71px -648px;
}
.glyphicon-beer {
  background-position: -95px -648px;
}
.glyphicon-fast_food {
  background-position: -119px -648px;
}
.glyphicon-cutlery {
  background-position: -143px -648px;
}
.glyphicon-pizza {
  background-position: -167px -648px;
}
.glyphicon-birthday_cake {
  background-position: -191px -648px;
}
.glyphicon-tablet {
  background-position: -215px -648px;
}
.glyphicon-settings {
  background-position: 1px -672px;
}
.glyphicon-bullets {
  background-position: -23px -672px;
}
.glyphicon-cardio {
  background-position: -47px -672px;
}
.glyphicon-t-shirt {
  background-position: -71px -672px;
}
.glyphicon-pants {
  background-position: -95px -672px;
}
.glyphicon-sweater {
  background-position: -119px -672px;
}
.glyphicon-fabric {
  background-position: -143px -672px;
}
.glyphicon-leather {
  background-position: -167px -672px;
}
.glyphicon-scissors {
  background-position: -191px -672px;
}
.glyphicon-bomb {
  background-position: -215px -672px;
}
.glyphicon-skull {
  background-position: 1px -696px;
}
.glyphicon-celebration {
  background-position: -23px -696px;
}
.glyphicon-tea_kettle {
  background-position: -47px -696px;
}
.glyphicon-french_press {
  background-position: -71px -696px;
}
.glyphicon-coffe_cup {
  background-position: -95px -696px;
}
.glyphicon-pot {
  background-position: -119px -696px;
}
.glyphicon-grater {
  background-position: -143px -696px;
}
.glyphicon-kettle {
  background-position: -167px -696px;
}
.glyphicon-hospital {
  background-position: -191px -696px;
}
.glyphicon-hospital_h {
  background-position: -215px -696px;
}
.glyphicon-microphone {
  background-position: 1px -720px;
}
.glyphicon-webcam {
  background-position: -23px -720px;
}
.glyphicon-temple_christianity_church {
  background-position: -47px -720px;
}
.glyphicon-temple_islam {
  background-position: -71px -720px;
}
.glyphicon-temple_hindu {
  background-position: -95px -720px;
}
.glyphicon-temple_buddhist {
  background-position: -119px -720px;
}
.glyphicon-bicycle {
  background-position: -143px -720px;
}
.glyphicon-life_preserver {
  background-position: -167px -720px;
}
.glyphicon-share_alt {
  background-position: -191px -720px;
}
.glyphicon-comments {
  background-position: -215px -720px;
}
.glyphicon-flower {
  background-position: 1px -744px;
}
.glyphicon-baseball {
  background-position: -23px -744px;
}
.glyphicon-rugby {
  background-position: -47px -744px;
}
.glyphicon-ax {
  background-position: -71px -744px;
}
.glyphicon-table_tennis {
  background-position: -95px -744px;
}
.glyphicon-bowling {
  background-position: -119px -744px;
}
.glyphicon-tree_conifer {
  background-position: -143px -744px;
}
.glyphicon-tree_deciduous {
  background-position: -167px -744px;
}
.glyphicon-more_items {
  background-position: -191px -744px;
}
.glyphicon-sort {
  background-position: -215px -744px;
}
.glyphicon-filter {
  background-position: 1px -768px;
}
.glyphicon-gamepad {
  background-position: -23px -768px;
}
.glyphicon-playing_dices {
  background-position: -47px -768px;
}
.glyphicon-calculator {
  background-position: -71px -768px;
}
.glyphicon-tie {
  background-position: -95px -768px;
}
.glyphicon-wallet {
  background-position: -119px -768px;
}
.glyphicon-piano {
  background-position: -143px -768px;
}
.glyphicon-sampler {
  background-position: -167px -768px;
}
.glyphicon-podium {
  background-position: -191px -768px;
}
.glyphicon-soccer_ball {
  background-position: -215px -768px;
}
.glyphicon-blog {
  background-position: 1px -792px;
}
.glyphicon-dashboard {
  background-position: -23px -792px;
}
.glyphicon-certificate {
  background-position: -47px -792px;
}
.glyphicon-bell {
  background-position: -71px -792px;
}
.glyphicon-candle {
  background-position: -95px -792px;
}
.glyphicon-pushpin {
  background-position: -119px -792px;
}
.glyphicon-iphone_shake {
  background-position: -143px -792px;
}
.glyphicon-pin_flag {
  background-position: -167px -792px;
}
.glyphicon-turtle {
  background-position: -191px -792px;
}
.glyphicon-rabbit {
  background-position: -215px -792px;
}
.glyphicon-globe {
  background-position: 1px -816px;
}
.glyphicon-briefcase {
  background-position: -23px -816px;
}
.glyphicon-hdd {
  background-position: -47px -816px;
}
.glyphicon-thumbs_up {
  background-position: -71px -816px;
}
.glyphicon-thumbs_down {
  background-position: -95px -816px;
}
.glyphicon-hand_right {
  background-position: -119px -816px;
}
.glyphicon-hand_left {
  background-position: -143px -816px;
}
.glyphicon-hand_up {
  background-position: -167px -816px;
}
.glyphicon-hand_down {
  background-position: -191px -816px;
}
.glyphicon-fullscreen {
  background-position: -215px -816px;
}
.glyphicon-shopping_bag {
  background-position: 1px -840px;
}
.glyphicon-book_open {
  background-position: -23px -840px;
}
.glyphicon-nameplate {
  background-position: -47px -840px;
}
.glyphicon-nameplate_alt {
  background-position: -71px -840px;
}
.glyphicon-vases {
  background-position: -95px -840px;
}
.glyphicon-bullhorn {
  background-position: -119px -840px;
}
.glyphicon-dumbbell {
  background-position: -143px -840px;
}
.glyphicon-suitcase {
  background-position: -167px -840px;
}
.glyphicon-file_import {
  background-position: -191px -840px;
}
.glyphicon-file_export {
  background-position: -215px -840px;
}
.glyphicon-bug {
  background-position: 1px -864px;
}
.glyphicon-crown {
  background-position: -23px -864px;
}
.glyphicon-smoking {
  background-position: -47px -864px;
}
.glyphicon-cloud_upload {
  background-position: -71px -864px;
}
.glyphicon-cloud_download {
  background-position: -95px -864px;
}
.glyphicon-restart {
  background-position: -119px -864px;
}
.glyphicon-security_camera {
  background-position: -143px -864px;
}
.glyphicon-expand {
  background-position: -167px -864px;
}
.glyphicon-collapse {
  background-position: -191px -864px;
}
.glyphicon-collapse_top {
  background-position: -215px -864px;
}
.glyphicon-globe_af {
  background-position: 1px -888px;
}
.glyphicon-global {
  background-position: -23px -888px;
}
.glyphicon-spray {
  background-position: -47px -888px;
}
.glyphicon-nails {
  background-position: -71px -888px;
}
.glyphicon-claw_hammer {
  background-position: -95px -888px;
}
.glyphicon-classic_hammer {
  background-position: -119px -888px;
}
.glyphicon-hand_saw {
  background-position: -143px -888px;
}
.glyphicon-riflescope {
  background-position: -167px -888px;
}
.glyphicon-electrical_socket_eu {
  background-position: -191px -888px;
}
.glyphicon-electrical_socket_us {
  background-position: -215px -888px;
}
.glyphicon-pinterest {
  background-position: 1px -912px;
}
.glyphicon-dropbox {
  background-position: -23px -912px;
}
.glyphicon-google_plus {
  background-position: -47px -912px;
}
.glyphicon-jolicloud {
  background-position: -71px -912px;
}
.glyphicon-yahoo {
  background-position: -95px -912px;
}
.glyphicon-blogger {
  background-position: -119px -912px;
}
.glyphicon-picasa {
  background-position: -143px -912px;
}
.glyphicon-amazon {
  background-position: -167px -912px;
}
.glyphicon-tumblr {
  background-position: -191px -912px;
}
.glyphicon-wordpress {
  background-position: -215px -912px;
}
.glyphicon-instapaper {
  background-position: 1px -936px;
}
.glyphicon-evernote {
  background-position: -23px -936px;
}
.glyphicon-xing {
  background-position: -47px -936px;
}
.glyphicon-zootool {
  background-position: -71px -936px;
}
.glyphicon-dribbble {
  background-position: -95px -936px;
}
.glyphicon-deviantart {
  background-position: -119px -936px;
}
.glyphicon-read_it_later {
  background-position: -143px -936px;
}
.glyphicon-linked_in {
  background-position: -167px -936px;
}
.glyphicon-forrst {
  background-position: -191px -936px;
}
.glyphicon-pinboard {
  background-position: -215px -936px;
}
.glyphicon-behance {
  background-position: 1px -960px;
}
.glyphicon-github {
  background-position: -23px -960px;
}
.glyphicon-youtube {
  background-position: -47px -960px;
}
.glyphicon-skitch {
  background-position: -71px -960px;
}
.glyphicon-4square {
  background-position: -95px -960px;
}
.glyphicon-quora {
  background-position: -119px -960px;
}
.glyphicon-badoo {
  background-position: -143px -960px;
}
.glyphicon-spotify {
  background-position: -167px -960px;
}
.glyphicon-stumbleupon {
  background-position: -191px -960px;
}
.glyphicon-readability {
  background-position: -215px -960px;
}
.glyphicon-facebook {
  background-position: 1px -984px;
}
.glyphicon-twitter {
  background-position: -23px -984px;
}
.glyphicon-instagram {
  background-position: -47px -984px;
}
.glyphicon-posterous_spaces {
  background-position: -71px -984px;
}
.glyphicon-vimeo {
  background-position: -95px -984px;
}
.glyphicon-flickr {
  background-position: -119px -984px;
}
.glyphicon-last_fm {
  background-position: -143px -984px;
}
.glyphicon-rss {
  background-position: -167px -984px;
}
.glyphicon-skype {
  background-position: -191px -984px;
}
.glyphicon-e-mail {
  background-position: -215px -984px;
}
